{#
 # Promotions Page Template
 # ------------------------
-#}

{% set title = entry.title %}
{% set metaDescription = entry.metaDescription %}

{% extends "_layouts/site" %}

{% block main %}


<section class="entry-content entry-content-promo pure-g">
    

  <div class="pure-u-1">

  <h1 class="promo-title"><span>Some eye drops contain preservatives.</span> How irritating!</h1>

  </div>


  <div class="pure-u-10-24">

    <img src="http://www.thea-pharmaceuticals.co.uk/img/eye.jpg" />

  </div>

  <div class="pure-u-14-24">

    <p>If you suffer from sore, tired or dry eyes, the preservatives found in many eye drops can actually cause added irritation.</p>

    <div class="promo-copy-img">

      <div class="promo-copy">
        <p><b>Thealoz Duo</b> dry eye drops are 100% preservative-free and contain a special combination of ingredients to protect, hydrate and lubricate your eye.</p>
        <p>Clinically proven toprovide long-lasting relief1, Thealoz Duo remains sterile for up to 3 months thanks to its unique innovative bottle design</p>
      </div>

      <img src="http://www.thea-pharmaceuticals.co.uk/img/pack.png" />

    </div>

    <div class="promotion-links">
      <div class="trolley-link promotion-link">
        <a href="http://www.theapharmaceuticals-shop.co.uk/products/Blephagel-PF-Preservative-Free.html#SID=34">
        <img src="http://www.thea-pharmaceuticals.co.uk/img/icon-trolley.png" />
        <span>Visit our online shop now to buy</span>
        </a>
      </div>

      <div class="trolley-link promotion-link">
        <a href="http://www.theapharmaceuticals-shop.co.uk/products/Blephagel-PF-Preservative-Free.html#SID=34">
        <img src="http://www.thea-pharmaceuticals.co.uk/img/stockist-link.svg" />
        <span>Locate a Thealoz Duo stockist</span>
        </a>
      </div>

  </div>


</section>

<hr>

<section class="entry-content entry-content-promo pure-g">
    
  <div class="pure-u-1">

  <h2 class="promo-sub-head">Made by the experts in preservative-free eye care</h2>

  </div>


  <div class="pure-u-10-24 promo-eye-drop">

    <img src="http://www.thea-pharmaceuticals.co.uk/assets/page-images/main-eye-drop-425w.jpg" />
    <img src="http://www.thea-pharmaceuticals.co.uk/assets/page-images/main-eye-drop-425w.jpg" />

  </div>

  <div class="pure-u-14-24">

    <p>Many eye drops for dry eyes contain preservatives, but research suggests long-term use may have a damaging effect on the eyes.</p>
    <p>Thealoz Duo is one of a range of 100% preservative-free dry eye drops from Thea Pharmaceuticals, a leading manufacturer of ophthalmic products. Which means you can achieve optimum eye health, without the risk of irritation.</p>

    <div class="promotion-links">
      <div class="trolley-link promotion-link">
        <a href="http://www.theapharmaceuticals-shop.co.uk/products/Blephagel-PF-Preservative-Free.html#SID=34">
        <img src="http://www.thea-pharmaceuticals.co.uk/img/icon-trolley.png" />
        <span>Visit our online shop now to buy</span>
        </a>
      </div>

      <div class="trolley-link promotion-link">
        <a href="http://www.theapharmaceuticals-shop.co.uk/products/Blephagel-PF-Preservative-Free.html#SID=34">
        <img src="http://www.thea-pharmaceuticals.co.uk/img/stockist-link.svg" />
        <span>Locate a Thealoz Duo stockist</span>
        </a>
      </div>

  </div>

</section>

<hr>

<section class="pure-g">
    
  <div class="pure-u-1">

  <h2 class="promo-sub-head">Made by the experts in preservative-free eye care</h2>

  </div>


  <div class="pure-u-10-24">

    <img src="http://www.thea-pharmaceuticals.co.uk/assets/page-images/main-eye-drop-425w.jpg" />

  </div>

  <div class="pure-u-18-24">

    <p>Many eye drops for dry eyes contain preservatives, but research suggests long-term use may have a damaging effect on the eyes.</p>
    <p>Thealoz Duo is one of a range of 100% preservative-free dry eye drops from Thea Pharmaceuticals, a leading manufacturer of ophthalmic products. Which means you can achieve optimum eye health, without the risk of irritation.</p>

    <div class="promotion-links">
      <div class="trolley-link promotion-link">
        <a href="http://www.theapharmaceuticals-shop.co.uk/products/Blephagel-PF-Preservative-Free.html#SID=34">
        <img src="http://www.thea-pharmaceuticals.co.uk/img/icon-trolley.png" />
        <span>Visit our online shop now to buy</span>
        </a>
      </div>

      <div class="trolley-link promotion-link">
        <a href="http://www.theapharmaceuticals-shop.co.uk/products/Blephagel-PF-Preservative-Free.html#SID=34">
        <img src="http://www.thea-pharmaceuticals.co.uk/img/stockist-link.svg" />
        <span>Locate a Thealoz Duo stockist</span>
        </a>
      </div>

  </div>

</section>


  
{% endblock %}