{#
 # Promotions Page Template
 # ------------------------
-#}

{% set title = entry.title %}
{% set metaDescription = entry.metaDescription %}

{% extends "_layouts/site" %}

{% block main %}


<section class="entry-content entry-content-promo pure-g">
    

  <div class="pure-u-1">

  <h1 class="promo-title"><span>Some eye drops contain preservatives.</span> How irritating!</h1>

  </div>


  <div class="pure-u-1 pure-u-md-10-24">

    <img class="promo-main-img" src="http://www.thea-pharmaceuticals.co.uk/img/eye.jpg" />

  </div>

  <div class="pure-u-1 pure-u-md-14-24">

    <p>If you suffer from sore, tired or dry eyes, the preservatives found in many eye drops can actually cause added irritation.</p>

    <div class="pure-g">

      <div class="pure-u-1 pure-u-sm-1-2 pure-u-md-3-4">
        <p><b>Thealoz Duo</b> dry eye drops are 100% preservative-free and contain a special combination of ingredients to protect, hydrate and lubricate your eye.</p>
        <p>Clinically proven to provide long-lasting relief<sup>1</sup>, Thealoz Duo remains sterile for up to 3 months thanks to its unique innovative bottle design</p>
      </div>

      <div class="pure-u-1  pure-u-sm-1-2 pure-u-md-1-4">

      <img class="promo-pack-img" src="http://www.thea-pharmaceuticals.co.uk/img/pack.png" />

      </div>

    </div>

    <div class="promotion-links">
      <div class="trolley-link promotion-link">
        <a href="http://www.theapharmaceuticals-shop.co.uk/products/ThealozDuo-THEALOZDUO.html">
        <img src="http://www.thea-pharmaceuticals.co.uk/img/icon-trolley.png" />
        <span>Visit our online shop now to buy</span>
        </a>
      </div>

      <div class="trolley-link promotion-link">
        <a href="{{ siteUrl }}locator/specialist">
        <img src="http://www.thea-pharmaceuticals.co.uk/img/stockist-link.svg" />
        <span>Locate a Thealoz Duo stockist</span>
        </a>
      </div>

  </div>

  <sup class="superscript">1. Schmidl, D., et al. Cornea (2015); 34(4): 421-6</sup>


</section>

<hr>

<section class="entry-content entry-content-promo pure-g">
    
  <div class="pure-u-1">

  <h2 class="promo-sub-head">The problem with preservatives</h2>

  </div>


  <div class="pure-u-1 pure-u-md-10-24 promo-eye-drop">

    <img src="http://www.thea-pharmaceuticals.co.uk/assets/page-images/main-eye-drop-425w.jpg" />
    <img src="http://www.thea-pharmaceuticals.co.uk/img/logos.jpg" />

  </div>

  <div class="pure-u-1 pure-u-md-14-24">

    <p>Watery, itchy, irritated...if you’ve ever experienced the discomfort of dry eyes, you’ve probably tried eye drops to provide some relief. But did you know that some brands contain preservatives that may cause further irritation to your eyes?</p>
    <p>Preservatives in eye drops are used to prevent and reduce bacterial contamination after a product has been opened. However, regular usage may damage the delicate cells on the surface of the eye or cause inflammation.</p>
    <p>Thealoz Duo is one of a range of 100% preservative-free dry eye drops from Thea Pharmaceuticals, a leading manufacturer of ophthalmic products. Using our products can help you achieve optimum eye health, without the risk of irritation.</p>

    <div class="promotion-links">
      <div class="trolley-link promotion-link">
        <a href="http://www.theapharmaceuticals-shop.co.uk/products/ThealozDuo-THEALOZDUO.html">
        <img src="http://www.thea-pharmaceuticals.co.uk/img/icon-trolley.png" />
        <span>Visit our online shop now to buy</span>
        </a>
      </div>

      <div class="trolley-link promotion-link">
        <a href="{{ siteUrl }}locator/specialist">
        <img src="http://www.thea-pharmaceuticals.co.uk/img/stockist-link.svg" />
        <span>Locate a Thealoz Duo stockist</span>
        </a>
      </div>

  </div>

</section>

<hr>

<section class="entry-content entry-content-promo pure-g">
    
  <div class="pure-u-1">

  <h2 class="promo-sub-head">Go preservative-free with Thealoz Duo</h2>

  </div>


  <div class="pure-u-1 pure-u-md-10-24 promo-eye-drop">

    <img src="http://www.thea-pharmaceuticals.co.uk/img/pack2.jpg" />

  </div>

  <div class="pure-u-1 pure-u-md-14-24">

    <p>The advanced formula of Thealoz Duo hydrates, lubricates and protects your eyes without the use of potentially harmful preservatives. Apply as often as required during the day for soothing, effective relief from dry eye symptoms.</p>
    <ul class="promo-ul">
      <li>Ideal for all dry eye sufferers</li>
      <li>Unique bottle system for ease of use</li>
      <li>Use for up to 3 months from opening</li>
      <li>Hypotonic formula protects tear film</li>
      <li>Suitable for contact lens wearers</li>
    </ul>

    <div class="promotion-links">
      <div class="trolley-link promotion-link">
        <a href="http://www.theapharmaceuticals-shop.co.uk/products/ThealozDuo-THEALOZDUO.html">
        <img src="http://www.thea-pharmaceuticals.co.uk/img/icon-trolley.png" />
        <span>Visit our online shop now to buy</span>
        </a>
      </div>

      <div class="trolley-link promotion-link">
        <a href="{{ siteUrl }}locator/specialist">
        <img src="http://www.thea-pharmaceuticals.co.uk/img/stockist-link.svg" />
        <span>Locate a Thealoz Duo stockist</span>
        </a>
      </div>

  </div>

</section>


  
{% endblock %}

{% block footScripts %}

{{ parent() }}

<!--
Start of DoubleClick Floodlight Tag: Please do not remove
Activity name of this tag: Tag | Homepage
URL of the webpage where the tag is expected to be placed: http://www.go-preservative-free.co.uk
This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
Creation Date: 09/14/2016
-->
<script type="text/javascript">
var axel = Math.random() + "";
var a = axel * 10000000000000;
document.write('<iframe src="https://6037828.fls.doubleclick.net/activityi;src=6037828;type=count0;cat=tagho0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
</script>
<noscript>
<iframe src="https://6037828.fls.doubleclick.net/activityi;src=6037828;type=count0;cat=tagho0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
</noscript>
<!-- End of DoubleClick Floodlight Tag: Please do not remove -->

<SCRIPT language='JavaScript1.1' SRC="https://ad.doubleclick.net/ddm/adj/N39601.197812NSO.CODESRV/B10343218.138311096;sz=1x2;ord=[timestamp];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?">
</SCRIPT>
<NOSCRIPT>
<A HREF="https://ad.doubleclick.net/ddm/jump/N39601.197812NSO.CODESRV/B10343218.138311096;sz=1x2;ord=[timestamp]?">
<IMG SRC="https://ad.doubleclick.net/ddm/ad/N39601.197812NSO.CODESRV/B10343218.138311096;sz=1x2;ord=[timestamp];dc_lat=;dc_rdid=;tag_for_child_directed_treatment=?" BORDER=0 WIDTH=1 HEIGHT=2 ALT="Advertisement"></A>
</NOSCRIPT>

{% endblock %}
