<section class="enquiry-form">

	<div class="form-holder pure-g">

		<div class="form-intro pure-u-1 pure-u-md-12-24">

			<h2>Contact Us</h2>

			<p>Is there anything we can help you with? From requesting a product sample, arranging a visit from one of our helpful customer representatives, or simply asking us a question about Thea Pharmaceuticals products. Use the form and we'll be in touch as soon as possible.</p>
		
			<p>Fields indicated with * are required</p>

		</div>

		<div class="form-main pure-u-1 pure-u-md-12-24">

			<object class="enquiry-form-icon" type="image/svg+xml" data="{{ siteUrl }}img/icon-form.svg">Form Icon</object>

			{% include "_panels/enquiry-form-fields" %}

		</div>

	</div>


</section>