{#
<section class="insight-login">

<div class="insight-badge">
	<object type="image/svg+xml" data="{{ siteUrl }}img/thea-insight.svg">Thea Insight</object> 
</div>

<form name="insight-login" action="insight-login" method="POST">

<p>Our free online learning academy for healthcare professionals provides educational  modules on several common eye conditions and their management.</p>

<label>Username</label>
<input name="username" id="username" type="text" />

<label>Password</label>
<input name="password" id="password" type="password" />

<button>Login</button>

</form>

</section>
#}