{#
 # Location Finder - index page
 # --------------------------------------------------------------------
-#}

{% set bodyClass = "search-results" %}
{% extends "_layouts/site" %}

{% block main %}


<section class="entry-content pure-g">

    <div class="pure-u-1">

        <h1>Location Finder</h1>


        <div class="location-search-form">

            <form name="location_form" method="GET" action="{{ url("locator/results") }}">
                <input type="search" name="pc" placeholder="enter your postcode" value="" />
                <button>Search</button>
            </form>

        </div>


    </div>

</section>
      

  
{% endblock %}

