{#
 # About Us Page
 # -----------------
-#}

{% set title = entry.title %}
{% set metaDescription = entry.metaDescription %}

{% extends "_layouts/site" %}

{% block main %}


<section class="home-intro pure-g">

  <div class="home-intro-image pure-u-1-1 pure-u-md-11-24">


    {% set asset = entry.headlineImage.first() %}

    {% if asset %}
        <img class="main-image" src="{{ asset.url }}" alt="{{ asset.title }}" />
    {% endif %}


  </div>

  <div class="home-intro-copy pure-u-1-1 pure-u-md-13-24">

    
     <h2 class="page-title">{{ entry.title }}</h2>

    {{ entry.introductionCopy }}

  </div>


</section>


<section class="entry-content pure-g">
  <div class="pure-u-1">
      {{ entry.mainCopy }}
  </div>
</section>


{% if craft.request.getParam("test") == "timeline" %}

<section class="timeline-section">

<h2 class="page-title">Our History</h2>

{% set timeslots = craft.entries.section("timeline").order("timelineDate asc") %}

<div class="timeslots-nav">
{% for timeslot in timeslots %}
<div>
<a href="#timeslot{{ timeslot.id }}">{{ timeslot.timelineDate | date("Y") }}<br><svg><use xlink:href="#nav-symbol"></use></svg></a>
</div>

{% endfor %}
</div>

<hr>

<div class="timeslots">

{% for timeslot in timeslots %}

<div class="timeslot" id="timeslot{{ timeslot.id }}">

<h3>{{ timeslot.timelineDate | date("Y") }}</h3>

{% set timeslotImage = timeslot.timelineImage.first() %}
{% if timeslotImage %}
<img src="{{ timeslotImage.url }}" alt="{{ timeslotImage.title }}" />
{% endif %}
<div class="timeslot-copy">
{{ timeslot.mainCopy }}
</div>

</div>

{% endfor %}

</div>


{% endif %}

</section> 



  
{% endblock %}